@font-face {
  font-family: "Expanded";
  src: url("expanded.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Extended";
  src: url("subset-0ff778ace3e13bd5dc9b5dbb1f5e99aa.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono";
  src: url("mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-family: "Mono", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(
    95.58deg,
    #fffcef -12.66%,
    #ffb9d2 54.5%,
    #ffd28f 108.52%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
  display: block;
  width: 100%;
}

a,
button,
label,
input[type="submit"],
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

@keyframes static {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% 5%;
  }
  60% {
    background-position: 15% 0;
  }
  70% {
    background-position: 0 10%;
  }
  80% {
    background-position: -15% 0;
  }
  90% {
    background-position: 10% 5%;
  }
  100% {
    background-position: 5% 0;
  }
}

.wrapper {
  background: url("./noise.png");
  background-size: 600px;
  animation: 0.3s infinite static;
  min-height: 100vh;
  padding-bottom: 88px;
  padding-top: 20px;
}

.width {
  max-width: 500px;
  margin: 0 auto;
  width: calc(100% - 40px);
}

.scan-form {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
}

.metadata-input {
  display: block;
  width: 100%;
  background: white;
  color: black;
  line-height: 48px;
  border-radius: 100px;
  text-align: center;
  font-family: "Mono";
  margin-bottom: 10px;
  padding: 0 24px;
  font-size: 16px;
}

.scan-button {
  display: block;
  width: 100%;
  background: black;
  color: white;
  line-height: 48px;
  border-radius: 100px;
  text-align: center;
  font-family: "Expanded";
  transition: 0.2s opacity;
  margin-bottom: 10px;
}

.scan-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-button {
  display: block;
  width: 100%;
  background: rgb(36, 36, 36);
  color: white;
  line-height: 48px;
  border-radius: 100px;
  text-align: center;
  font-family: "Expanded";
  transition: 0.2s opacity;
}

.sign-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.kong-logo {
  display: block;
  margin: 20px auto 0;
  width: 54px;
}

.box {
  background: white;
  border-radius: 30px;
}

.scan-row {
  width: calc(100% - 48px);
  margin: 0 auto;
  padding-bottom: 24px;
}

.scan-row + .scan-row {
  border-top: 1px solid rgba(4, 3, 3, 0.1);
}

.scan-row-header {
  display: flex;
  align-items: center;
  padding: 24px 0 0;
  cursor: pointer;
  user-select: none;
}

.scan-row-header span {
  display: block;
}

.scan-row-header h2 {
  flex: 1;
  margin: 0 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.scan-row-header-toggle {
  transform: rotate(-90deg);
  transition: 0.4s transform;
}

.scan-row.active .scan-row-header-toggle {
  transform: none;
}

.scan-row-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan-row-body {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s max-height ease-out;
}

.scan-row-body-section {
  padding-top: 24px;
}

.scan-row-body-section + .scan-row-body-section {
  padding-top: 24px;
}

.scan-row.active .scan-row-body {
  max-height: 260px;
}

.scan-row-body-heading {
  font-size: 12px;
  color: rgba(4, 3, 3, 0.45);
  margin-bottom: 5px;
}

.scan-row-body-data {
  word-break: break-all;
}

.empty {
  padding: 24px;
  text-align: center;
  color: rgba(4, 3, 3, 0.45);
}

#export,
#clear {
  position: fixed;
  top: 20px;
  color: #fff;
  border-radius: 100px;
  font-weight: 600;
  font-family: "Expanded";
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: 0.2s background-color;
}

#export {
  right: 20px;
}

#clear {
  right: 70px;
  display: none;
}
