.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}