.settings-dropdown {
  position: relative;
}

.settings-dropdown-trigger {
  cursor: pointer;
  user-select: none;
}

.settings-dropdown-dropdown {
  position: absolute;
  top: 100%;
  right: 9999px;
  opacity: 0;
  transition: var(--fadeOff);
  border-radius: 10px;
  background: var(--cardsBox);
  z-index: 10;
  width: 160px;
  color: var(--cardsText);
  margin-top: 15px;

  .settings-dropdown-active & {
    right: -10px;
    opacity: 1;
    transition: var(--fadeOn);
  }

  &:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    right: 16px;
    background: var(--cardsBox);
    transform: rotate(45deg) translate(-50%, -50%);
  }
}

.settings-dropdown-dropdown-option {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  & + & {
    border-top: 1px solid var(--cardsBorder);
  }

  input {
    display: none;
  }

  label {
    color: var(--cardsMediumText);
    display: block;
    width: 100%;
  }

  input:checked + label,
  label:hover {
    color: var(--cardsText);
  }
}

.settings-dropdown-count {
  padding: 16px;

  label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  input {
    border: 1px solid var(--cardsBorder);
    padding: 12px;
    border-radius: 8px;
  }
}
