:root {
  --font: "Roobert", sans-serif;
  --bg: #0c0c0c;
  --primary: #0047ff;
  --primaryText: #fff;
  --buttonDisabledBg: #232323;
  --buttonDisabledText: #9d9d9d;
  --inputText: #0c0c0c;
  --inputPlaceholderText: #9d9d9d;
  --cards: #fcfcfc;
  --cardsText: #0c0c0c;
  --cardsBorder: #dcdcdc;
  --cardsBox: #f2f2f2;
  --cardsLightText: #a3a3a3;
  --danger: #fe0133;
  --scanFormHeight: 146px;
}
